
{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}

{% block content %}
    <main>
        <div class="banner">
            <img src="{% static 'images/banner.png' %}" srcset="{% static 'images/banner-mobile.png' %} 1000w, {% static 'images/banner.png' %} 1200w" alt="Banner"/>
        </div>
        <div class="event-container">
            <div class="event-box">
                <h2>Evento 1</h2>
                <p class="event-date">Data: dd/mm/yyyy hh:mm</p>
                <p class="event-description">Descrição: Evento de exemplo.</p>
                <p class="event-link"><a href="#">Saiba mais</a></p>
            </div>
            <div class="event-box">
                <h2>Evento 2</h2>
                <p class="event-date">Data: dd/mm/yyyy hh:mm</p>
                <p class="event-description">Descrição: Evento de exemplo.</p>
                <p class="event-link"><a href="#">Saiba mais</a></p>
            </div>
            <div class="event-box">
                <h2>Evento 3</h2>
                    <p class="event-date">Data: dd/mm/yyyy hh:mm</p>
                    <p class="event-description">Descrição: Evento de exemplo.</p>
                    <p class="event-link"><a href="#">Saiba mais</a></p>
            </div>
        </div>
    </main>
{% endblock %}
